/* profile page css */
.profile-page{
    margin:0;
    height: 80vh;
    width: 100%;
   padding-top: 25vh;
    display: flex;
    background-color: rgba(76, 65, 231, 0.636);
    
}
.profile{
    width:400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid black;
    
}
.img{
 flex: 40%;
    flex-flow: row;
    width: 500px;
    height: 500px;
    padding-left: 10vw;
    
   
}
.profile-page p{
    line-height: 1.2;   
}
.info{
    flex: 60%;


}
.info p{
 
 line-height: 2em;
 color: rgba(244, 234, 229, 0.909);
font-size: 30px;

}
h2{
    font-size: 2em;
    color: white;
}