*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}


.heading{
    display: flex;
    padding: 20px;
    height: 4vh;
    width: 100%;
    margin:0;
    color: white;
    background-color:rgb(227, 84, 95);
    top: 0;
    position: sticky;
}

.heading .topnav{
    flex: 3;
    right: 10%;
   
}
.navbar{
    flex:display;
    display:block;
    
    width: 90%;
}



  
  .topnav-right{
    overflow: hidden;
    position: fixed;
    right: 0;
    
   
  }
  
  .topnav-right a {
    
    color: #f2f2f2;
    text-align: center;
   padding-left: 20px;
   padding-right: 30px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: rgb(163, 40, 40);
    
  }
  
  
  
  